In [1]:
import pandas as pd

Alternative

In [2]:
alternative = pd.read_csv("alternative.csv")
alternative.head(5)

     country Code  Year    TWh_Unit   source continent
0  Argentina  ARG  2002    0.382037  Biofuel  Americas
1  Argentina  ARG  2006    1.276533  Biofuel  Americas
2  Argentina  ARG  1993    0.000000  Biofuel  Americas
3  Argentina  ARG  2018  114.132343  Biofuel  Americas
4  Argentina  ARG  2015    0.593335     Wind  Americas

In [3]:
pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\aaron\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\aaron\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from pymongo import MongoClient

In [5]:
client = MongoClient("mongodb+srv://AaronWong:project1@projectdemo.tkbcb.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

In [6]:
db = client.projectdemo

In [7]:
collection = db.projectdemo

In [8]:
alternative.reset_index(inplace=True)

In [9]:
alternative_dict = alternative.to_dict("records")

In [10]:
collection.insert_many(alternative_dict)

In [11]:
alternative_mongo_df  = pd.DataFrame(list(collection.find()))

In [12]:
alternative_mongo_df.head()

,_id,index,country,Code,Year,TWh_Unit,source,continent,level_0,Entity,...,Electricity from hydro (TWh),Electricity from solar (TWh),Electricity from wind (TWh),code_2,code_3,country_code,iso_3166_2,sub_region,region_code,sub_region_code
0,620c61ccf845e7e8ec9541ce,0,Argentina,ARG,2002.0,0.382037,Biofuel,Americas,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,620c61ccf845e7e8ec9541cf,1,Argentina,ARG,2006.0,1.276533,Biofuel,Americas,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,620c61ccf845e7e8ec9541d0,2,Argentina,ARG,1993.0,0.000000,Biofuel,Americas,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,620c61ccf845e7e8ec9541d1,3,Argentina,ARG,2018.0,114.132343,Biofuel,Americas,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,620c61ccf845e7e8ec9541d2,4,Argentina,ARG,2015.0,0.593335,Wind,Americas,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
alternative_mongo_df = alternative_mongo_df.drop('_id', 1)

In [14]:
alternative_mongo_df.head(5)

,index,country,Code,Year,TWh_Unit,source,continent,level_0,Entity,Biofuels Production - PJ - Total,...,Electricity from hydro (TWh),Electricity from solar (TWh),Electricity from wind (TWh),code_2,code_3,country_code,iso_3166_2,sub_region,region_code,sub_region_code
0,0,Argentina,ARG,2002.0,0.382037,Biofuel,Americas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Argentina,ARG,2006.0,1.276533,Biofuel,Americas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Argentina,ARG,1993.0,0.000000,Biofuel,Americas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Argentina,ARG,2018.0,114.132343,Biofuel,Americas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Argentina,ARG,2015.0,0.593335,Wind,Americas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
alternative_mongo_df = alternative_mongo_df.drop('index', 1)

In [16]:
alternative_mongo_df.head(5)

,country,Code,Year,TWh_Unit,source,continent,level_0,Entity,Biofuels Production - PJ - Total,Geothermal Capacity,Electricity from hydro (TWh),Electricity from solar (TWh),Electricity from wind (TWh),code_2,code_3,country_code,iso_3166_2,sub_region,region_code,sub_region_code
0,Argentina,ARG,2002.0,0.382037,Biofuel,Americas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Argentina,ARG,2006.0,1.276533,Biofuel,Americas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Argentina,ARG,1993.0,0.000000,Biofuel,Americas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Argentina,ARG,2018.0,114.132343,Biofuel,Americas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,ARG,2015.0,0.593335,Wind,Americas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Biofuel

In [17]:
biofuel = pd.read_csv("biofuel.csv")
biofuel['source'] = 'Biofuel'
biofuel.head(5)

   Entity Code  Year  Biofuels Production - PJ - Total   source
0  Africa  NaN  1990                          0.260846  Biofuel
1  Africa  NaN  1991                          0.260846  Biofuel
2  Africa  NaN  1992                          0.261561  Biofuel
3  Africa  NaN  1993                          0.260846  Biofuel
4  Africa  NaN  1994                          0.260846  Biofuel

In [ ]:
geothermal = pd.read_csv("geothermal.csv")
geothermal['source'] = 'Geothermal'
geothermal.head(5)

In [ ]:
client = MongoClient("mongodb+srv://AaronWong:project1@projectdemo.tkbcb.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.projectdemo
collection = db.projectdemo
biofuel.reset_index(inplace=True)
biofuel_dict = biofuel.to_dict("records")
collection.insert_many(biofuel_dict)

In [ ]:
biofuel_mongo_df  = pd.DataFrame(list(collection.find()))
biofuel_mongo_df.head()

In [ ]:
biofuel_mongo_df = biofuel_mongo_df.drop('_id', 1)
biofuel_mongo_df.head(5)

In [ ]:
biofuel_mongo_df = biofuel_mongo_df.drop('index', 1)
biofuel_mongo_df.head(5)

Geothermal

In [ ]:
geothermal = pd.read_csv("geothermal.csv")
geothermal.head(5)

In [ ]:
client = MongoClient("mongodb+srv://AaronWong:project1@projectdemo.tkbcb.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.projectdemo
collection = db.projectdemo
geothermal.reset_index(inplace=True)
geothermal_dict = geothermal.to_dict("records")
collection.insert_many(geothermal_dict)

In [ ]:
geothermal_mongo_df  = pd.DataFrame(list(collection.find()))
geothermal_mongo_df.head()

In [ ]:
geothermal_mongo_df = geothermal_mongo_df.drop('_id', 1)
geothermal_mongo_df.head(5)

In [ ]:
geothermal_mongo_df = geothermal_mongo_df.drop('index', 1)
geothermal_mongo_df.head(5)

Hydro

In [ ]:
hydro = pd.read_csv("hydro.csv")
hydro.head(5)

In [ ]:
client = MongoClient("mongodb+srv://AaronWong:project1@projectdemo.tkbcb.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.projectdemo
collection = db.projectdemo
hydro.reset_index(inplace=True)
hydro_dict = hydro.to_dict("records")
collection.insert_many(hydro_dict)

In [ ]:
hydro_mongo_df  = pd.DataFrame(list(collection.find()))
hydro_mongo_df.head()

In [ ]:
hydro_mongo_df = hydro_mongo_df.drop('_id', 1)
hydro_mongo_df.head(5)

In [ ]:
hydro_mongo_df = hydro_mongo_df.drop('index', 1)
hydro_mongo_df.head(5)

Solar

In [ ]:
solar = pd.read_csv("solar.csv")
solar.head(5)

In [ ]:
client = MongoClient("mongodb+srv://AaronWong:project1@projectdemo.tkbcb.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.projectdemo
collection = db.projectdemo
solar.reset_index(inplace=True)
solar_dict = solar.to_dict("records")
collection.insert_many(solar_dict)

In [ ]:
solar_mongo_df  = pd.DataFrame(list(collection.find()))
solar_mongo_df.head()

In [ ]:
solar_mongo_df = solar_mongo_df.drop('_id', 1)
solar_mongo_df.head(5)

In [ ]:
solar_mongo_df = solar_mongo_df.drop('index', 1)
solar_mongo_df.head(5)

Wind

In [ ]:
wind = pd.read_csv("wind.csv")
wind.head(5)

In [ ]:
client = MongoClient("mongodb+srv://AaronWong:project1@projectdemo.tkbcb.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.projectdemo
collection = db.projectdemo
wind.reset_index(inplace=True)
wind_dict = wind.to_dict("records")
collection.insert_many(wind_dict)

In [ ]:
wind_mongo_df  = pd.DataFrame(list(collection.find()))
wind_mongo_df.head()

In [ ]:
wind_mongo_df = wind_mongo_df.drop('_id', 1)
wind_mongo_df.head(5)

In [ ]:
wind_mongo_df = wind_mongo_df.drop('index', 1)
wind_mongo_df.head(5)

Country Continent

In [ ]:
country_continent = pd.read_csv("countryContinent.csv")
country_continent.head(5)

In [ ]:
client = MongoClient("mongodb+srv://AaronWong:project1@projectdemo.tkbcb.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.projectdemo
collection = db.projectdemo
country_continent.reset_index(inplace=True)
country_continent_dict = country_continent.to_dict("records")
collection.insert_many(country_continent_dict)

In [ ]:
country_continent_mongo_df  = pd.DataFrame(list(collection.find()))
country_continent_mongo_df.head()

In [ ]:
country_continent_mongo_df = country_continent_mongo_df.drop('_id', 1)
country_continent_mongo_df.head(5)

In [ ]:
country_continent_mongo_df = country_continent_mongo_df.drop('index', 1)
country_continent_mongo_df.head(5)